<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.imageManager.dao.ImageDao">
 <insert id="addChart" parameterType="com.xzsd.pc.imageManager.entity.RotationChart">
     insert into t_rotation_chart
     (sort,
     goods_code,
   image_path,
   image_status,
   start_time,
   stop_time,
   is_deleted,
   create_user,
   create_time,
   update_user,
   update_time,
   version
   )
   values(
    #{imageNo},
    #{goodsCode},
    #{imageUrl},
    #{imageStatus},
    #{imageStartTime},
    #{imageEndTime},
    #{isDeleted},
    #{createBy},
    #{gmtCreate},
    #{gmtModified},
    #{lastModifiedBy},
    #{version}

   )
 </insert>
    <!-- 删除轮播图-->
    <update id="deleteChart" parameterType="com.xzsd.pc.imageManager.entity.RotationChart">

        update t_rotation_chart
        is_deleted = 1,
    update_time = now(),
        update_user = #{lastModifiedBy},
    version = version + 1
    where goodsCode in
    <foreach item="goodsCode" index="index" collection="listCode" open="(" separator="," close=")">
        #{goodsCode}
    </foreach>
    </update>
    <!-- 轮播图列表查询-->
    <select id="listRotationChart" parameterType="com.xzsd.pc.imageManager.entity.RotationChart" resultMap="com.xzsd.pc.imageManager.entity.RotationChart">
      select
      sort,
     goods_code,
   image_path,
   image_status,
   start_time,
   stop_time
      from
      t_rotation_chart
      where is_deleted=0
    </select>
    <!-- 选择商品列表-->
    <select id="listGoods" parameterType="com.xzsd.pc.goods.entity.Goods" resultMap="com.xzsd.pc.goods.entity.Goods">
        select
        goods_code,
        goods_name,
        goods_status,
        first_classification,
        second_classification
        from
        t_goods_detail
        where is_deleted=0
        <if test="goodsName != null and goodsName != ''">
            and goods_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="goodsCode !=null and goodsCode !=''">
            and goods_code like concat('%',#{goodsCode},'%')
        </if>
        and goods_code not in
        (select goods_code from t_rotation_chart where is_deleted=0)
    </select>

    <!-- 修改轮播图状态-->
    <update id="updateStatus" parameterType="java.lang.String">
        update t_rotation_chart
        set image_status=#{imageStatus}
        where goods_code
        in
        <foreach item="goodsCode" index="index" collection="listStatusCode" open="(" separator="," close=")">
            #{goodsCode}
        </foreach>

    </update>
</mapper>